.outer {
   
    display: flex;
    align-items: center;
    flex-direction: column;
}



.container {
    
    display: flex;
    
    align-items: center;
    flex-direction: column;
    width: 400px;
    
    
}

table td {
    box-shadow: 6px 6px 10px -1px rgb(72, 223, 250),
    -6px -6px 10px -1px rgb(72, 223, 250);
    color: rgba(255, 0, 0, 0.822);
    border-radius: 10px;
    font-size: xx-large;
    font-weight: bold;
    border: 5px solid grey;
    width: 100px;
    height: 100px;
}


.btn {
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: x-large;
    font-style: italic;
    background-color: aqua;
    width: 200px;
    border-radius: 10px;
    box-shadow: 6px 6px 10px -1px rgb(0, 5, 5),
    -6px -6px 10px -1px rgb(0, 0, 0);
}
